.cart-section-container{
    min-height: 300px;
    padding-left: 40px;
}



.cart-section-container .top-link-section{
    margin-top: 20px;
}





.cart-section-container .cart-box-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 80px;
    margin-top: 40px;
}


.cart-section-container .cart-box-container .cart-product-box{
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    /* max-width: 632px; */
    /* height: 196px; */
    padding: 16px;
    background: #F3F3F3;
    border-radius: 4px;
    padding-right: 60px;
    position: relative;
}

.cart-section-container .cart-box-container .cart-product-box .product-img{
    padding: 32px;
    padding-right: 0px;
}

.cart-section-container .cart-box-container .cart-product-box .product-img img{
    width: 100px;
    height: 100px;
    padding-right: 80px;
    border-right: 1px solid #BBBBBC;
}


.cart-section-container .cart-box-container .cart-product-box .product-details{
    padding-left: 20px;
}


.cart-section-container .cart-box-container .cart-product-box .product-details h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    min-width: 260px;
    color: #1D1F22;

}



.cart-section-container .cart-box-container .cart-product-box .product-details p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #606264;
}


.cart-section-container .cart-box-container .cart-product-box .product-details p span:nth-child(2){
    font-weight: 800;
}



.cart-section-container .cart-box-container .cart-product-box .product-details .quantiry-section{
    margin-bottom: 30px;
}







.quantify-section{
    display: flex;
    align-items: center;
}


.quantiry-section > span{
    margin-right: 10px;
}


.quantity-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    width: 80px;
}

.quantity-input span{
    display: grid;
}


.quantity-input span img{
    height: auto;
    width: auto;
}














.cart-section-container .cart-box-container .cart-product-box .cart-close{
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 35px;
}

































.subtotal-container{
    display: grid;
    /* width: 438px; */
    min-width: 308px;
    /* height: 289px; */
    padding: 32px 40px;
    padding-top: 10px;
    background: #F3F3F3;
    border-radius: 4px;
}



.subtotal-container p{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    padding: 30px 0px;
}


.subtotal-container p:nth-child(1){
    border-bottom: 1px solid #BBBBBC;
}

.subtotal-container p span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #606264;
}


.subtotal-container p span:nth-child(2){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #1D1F22;
}




.subtotal-container button{
    border: 1px solid #2189E3;
    border-radius: 4px;
    padding: 16px 32px;
    color: #2189E3;
    cursor: pointer;
    background-color: white;
}


.all-facilities-container{
    margin-top: 120px;
}







