body{
    /* padding: 0px 20px; */
    padding: 0px;
    margin: 0px;
}


.t-15{
    font-size: 15px;
}

.t-13{
    font-size: 13px;
}


img{
    height: 100%;
    width: 100%;
}


a{
    border-bottom: 0px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    color: black !important;
}


a:hover {
    text-decoration: none !important; 
    cursor: pointer !important;
}



/* <!-- TOP SECTION --> */
/* <!-- TOP SECTION --> */
/* <!-- TOP SECTION --> */
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0px 20px;
}








/* <!-- TOP LEFT SECTION --> */
/* <!-- TOP LEFT SECTION --> */
.top-left-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* <!-- TOP LEFT SELECTS --> */
.top-left-container select{
    border: none;
    height: 17px;
    font-family: 'Inter';
    color: #8E8F90;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    outline: none;
}



.select-selected{
    background-color: aqua !important;
}


.top-left-container select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }





/* border */
  .top-left-container .borders{
    display: block;
    height: 10px;
    border-right: 1px solid #8E8F90;
    margin-left: 5px;
}











/* <!-- TOP RIGHT SECTION --> */
/* <!-- TOP RIGHT SECTION --> */
.top-right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
}



/* RIGHT TEXT */
.top-right-container p{
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    margin: 0px 8px 0px 8px;
    align-self: center;
    color: #8E8F90;
}



.top-right-container i{
    height: 25px;
    width: 25px;
}











/* search And Logo Section */
/* search And Logo Section */
/* search And Logo Section */
.logo-search-container{
    display: grid;
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}


.logo-search-container .logo-container{
    width: 103.05px;
    height: 54px;
    padding: 16px;
}









/* Search bar container */
/* Search bar container */
.logo-search-container .search-bar-container{
    display: flex;
    height: 48px;
}



/* input container */
.logo-search-container .search-bar-container .input-container{
    display: flex;
    width: 400px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BBBBBC;
    overflow: hidden;
}



/* input */
.logo-search-container .search-bar-container .input-container input{
    height: 100%;
    width: 344px;
    border: transparent;
    border-radius: 4px;
    font-size: 13px;
    outline: none;
    box-shadow: none;
    padding: 0px 16px 0px 32px;
}


.logo-search-container .search-bar-container .input-container input::placeholder{
    opacity: 0.3;
    letter-spacing: -0.4px;
}



/* Search image */

.logo-search-container .search-bar-container .input-container .search-img-container{
    height: 24px;
    padding:0px 16px;
    align-self: center;
    border-left: 1px solid #BBBBBC;
}


.logo-search-container .search-bar-container .input-container .search-img-container .search-img{
    height: 24px;
    width: 24px;
}





/* Search select Button */
.search-bar-container select{
    width: 163px;
    height: 48px;
    background: #2189E3;
    border-radius: 4px;
    margin-left: 8px;
    padding: 12px 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: white;
    outline: none;
    box-shadow: none;
    border: transparent;

}

















/* 2nd top section icons container */
/* 2nd top section icons container */
.logo-search-container .icon-container{
    width: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* 2nd top section icons */
.logo-search-container .icon-container i{
    height: 24px;
    width: 24px;
}

















/* <!-- MAIN NAVIGATION CONTAINER --> */
/* <!-- MAIN NAVIGATION CONTAINER --> */
/* <!-- MAIN NAVIGATION CONTAINER --> */
.navigation-container{
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 25px -2px rgba(20, 20, 20, 0.1);
    padding: 0px 40px;
}




/* <!-- dropdown Navigation --> */
/* <!-- dropdown Navigation --> */
.navigation-container .dropdown-section-container{
    width: 322px;
    height: 48px;
    border: 1px solid #BBBBBC;
}


.navigation-container ul{
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    width: 702px;
    height: 55px;
    list-style: none;
}


.navigation-container ul li{
    height: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
}



/* ACTIVE BUTTON */
.navigation-container ul .active{
    color: #2189E3 !important;
}




















/* Hero Section */
/* Hero Section */
/* Hero Section */
.hero-section-container{
    margin-top: 100px;
    padding-bottom: 80px;
}




/* SLIDE */
.hero-section-container .slide{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}


.hero-section-container .slide > img{
    position: absolute;
    height: 506px;
    width: 100%;

}




/* HERO LEFT SECTION */
/* HERO LEFT SECTION */
.hero-section-container .slide .left-section{
    width: 390px;
    z-index: 2;
}



.hero-section-container .slide .left-section h1{
    font-family: 'Poppins';
    font-style: normal;
    text-decoration: none;
    font-weight: 300 !important;
    font-size: 61px;
    letter-spacing: -4px;
    line-height: 76px;
    color: #1D1F22;
    margin: 0;
    margin-bottom: 10px;
}


.hero-section-container .slide .left-section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #4A4B4E;
    margin: 0;
    margin-bottom: 16px;

}



/* HERO LEFT BUTTON */
.hero-section-container .slide .left-section button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    border: 1px solid #2189E3;
    color: #2189E3;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Inter';
    background-color: white;

}










/* HERO RIGHT SECTION */
/* HERO RIGHT SECTION */
.hero-section-container .slide .right-section{
    margin-top: -100px;
    width: 500px;
    height: 718.18px;
    transform: rotate(0deg);
}


/* HERO RIGHT IMAGE */
.hero-section-container .slide .right-section img{
    object-fit: 100%;
}






















/* All facilities container */
/* All facilities container */
/* All facilities container */
.all-facilities-container{
    display: flex;
    justify-content: center;
    align-items: center;
}







/* FACILITIES CONTAINER */
/* FACILITIES CONTAINER */
.all-facilities-container .facilities-container{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 133px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}



/* FACILITIES ICON */
.all-facilities-container .facilities-container .facilities-icon{
    display: grid;
    align-items: center;
    width: 48px;
    height: 48px;
    justify-self: center;
}


/* FACILITIES IMAGE */
.all-facilities-container .facilities-container .facilities-icon img{
    height: auto;
}




/* FACILITIES TITLE */
.all-facilities-container .facilities-container h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #4A4B4E;
    margin: 0;
    margin-top: 10px;
}



/* FACILITIES DESCRIPTION */
.all-facilities-container .facilities-container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #606264;
    margin: 0;
    margin-top: 4px;
}























/* <!-- PRODUCT DISCOUNTED PRODUCT CONTAINER --> */
/* <!-- PRODUCT DISCOUNTED PRODUCT CONTAINER --> */
/* <!-- PRODUCT DISCOUNTED PRODUCT CONTAINER --> */
.discounted-product-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    padding:0px 30px;

    max-width: 100%;
}



/* <!-- DISCOUNTED PRODUCT BOX --> */
.discounted-product-container .discounted-product-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 437.32px;
    width: 40vw;
    height: 300px;
    margin-right: 10px;
    background-color: #F3F3F3;
    border-radius: 4px;

    padding: 0px 10px;
}


.discounted-product-container .discounted-product-box:nth-last-child(1){
    margin-right: 0px;
}

.discounted-product-container .discounted-product-box:nth-child(2){
    background-color: #CDE8FF;
}



/* <!-- LEFT SECTION --> */
.discounted-product-container .discounted-product-box .discounted-product-left{
    display: grid;
    align-items: center;
    margin-left: 16px;
    width: 97.07px;
}


.discounted-product-container .discounted-product-box .discounted-product-left h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 61px;
    color: #333538;
    margin: 16px 0px;
}


/* <!-- LEFT SECTION BUTTON --> */
.discounted-product-container .discounted-product-box .discounted-product-left button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    width: 104px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #2189E3;
    cursor: pointer;
    border-radius: 4px;
    color: #2189E3;
}




/* <!-- RIGHT SECTION --> */
.discounted-product-container .discounted-product-box .discounted-product-right{
    /* width: 265.2px; */
    height: 181px;
    padding: 6px;
}













/* Main Title */
/* Main Title */
/* Main Title */
.main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    max-width: 100%;
    margin-top: 100px;
    padding:0px 30px;
}



/* MAIN TITLE TEXT */
.main-title .title-text h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #1D1F22;
    margin: 0;
    padding-bottom: 10px;
}



/* MAIN TITLE BORDER */
.main-title .title-text > span{
    display: block;
    width: 276px;
    height: 2px;
    position: relative;
    background-color: #2189E3;
}


.main-title .title-text > span > span{
    display: block;
    position: absolute;
    width: 40px;
    height: 5px;
    top: -1.5px;
    background: #2189E3;
}









/* view button */
.main-title .view-button{
    display: flex;
    align-items: center;
    width: 90px;
    height: 24px;
}


.main-title .view-button span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1D1F22;
    margin-right: 5px;
}



/* VIEW BUTTON ARROW */
.main-title .view-button img{
    width: 24px;
    height: 24px;
}











/* Top Selling Item section container */
/* Top Selling Item section container */
/* Top Selling Item section container */
.top-product-slide-container{
    display: flex;
    justify-content: space-around;
    width: calc(100%-30px);
    margin-top: 50px;
    padding-left: 30px;
}




/* PRODUCT CONTAINER */
/* PRODUCT CONTAINER */
.product-container{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 32px 16px;
    width: 322px;
    /* height: 425px; */
    border: 1px solid #BBBBBC !important;
    border-radius: 4px;
    margin-right: 16px;
}


/* PRODUCT IMAGE */
.product-container .product-image{
    width: 200px;
    height: 200px;
    margin: auto;
}


/* PRODUCT RATING */
.product-container .product-details .product-rating{
    display: flex;
    justify-content: center;
}



/* PRODUCT IMAGE */
.product-container .product-details .product-rating img{
    width: 16.63px;
    height: 15.91px;
}


/* PRODUCT PRICE CONTAINER */
.product-container .product-details .product-price-container{
    display: flex;
    justify-content: center;
}




.product-container .product-details .product-price-container p{
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #606264;
}   


/* PRODUCT OLD PRICE */
.product-container .product-details .product-price-container .old-price{
    text-decoration-line: line-through;
    margin-right: 10px;
}


/* PRODUCT CURRENT PRICE */
.product-container .product-details .product-price-container .current-price{
    font-size: 25px;
    line-height: 31px;
    color: #1D1F22;
    font-weight: 600;
}





/* PRODUCT DISCOUNT SECTION */
.product-container > span{
    position: absolute;
    top: 24px;
    left: 0px;
    width: 46px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: #E96C76;
    border-radius: 0px 4px 4px 0px;
}



















/* Week Product Slide */
/* Week Product Slide */
/* Week Product Slide */
.week-product-slide-container{
    display: flex;
    justify-content: space-around;
    width: calc(100%-30px);
    margin-top: 50px;
    padding-left: 30px;
}

















/* Second Hero section */
/* Second Hero section */
/* Second Hero section */
.second-hero-section-container{
    margin-top: 120px;
    padding-bottom: 80px;
}


.second-hero-section-container .slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(180deg, #2189E3 0%, #E96C76 100%);
}


.second-hero-section-container .slide > img{
    position: absolute;
    height: 506px;
    width: 100%;
    right: 0;

}



/* LEFT SECTION */
.second-hero-section-container .slide .left-section{
    display: grid;
    justify-content: flex-end;
    width: 390px;
    z-index: 2;

    margin-right: 130px;

}


/* HERO MAIN TEXT */
.second-hero-section-container .slide .left-section h1{
    font-family: 'Poppins';
    font-style: normal;
    text-decoration: none;
    font-weight: 300 !important;
    font-size: 61px;
    letter-spacing: -2px;
    line-height: 76px;
    color: #1D1F22;
    margin: 0;
    margin-bottom: 10px;

    color: white;
}


.second-hero-section-container .slide .left-section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #4A4B4E;
    margin: 0;
    margin-bottom: 16px;

    text-align: right;
    color: white;

}



/* HERO BUTTON */
.second-hero-section-container .slide .left-section button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #2189E3;
    color: #2189E3;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Inter';
    background-color: white;

    width: 104px;
    height: 39px;
    padding: 8px 16px;
    justify-self: flex-end;

}










/* Right Section */
/* Right Section */
.second-hero-section-container .slide .right-section{
    margin-top: -100px;
    width: 623px;
    height: 653px;
    transform: rotate(0deg);

    
}













































/* RIGHT SECTION IMAGE */
.second-hero-section-container .slide .right-section img{
    object-fit: 100%;
}




















/* Week Product Slide */
/* Week Product Slide */
/* Week Product Slide */
.new-arrival-slide-container{
    display: flex;
    justify-content: space-around;
    width: calc(100%-30px);
    margin-top: 50px;
    padding-left: 30px;
}


.new-arrival-slide-container .product-container > span{
    background-color: #2189E3;
    width: 24px;
    height: 14px;

}


















/* partners Section */
/* partners Section */
/* partners Section */
.partner-section-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    justify-content: space-between;
    align-items: center;
    height: 51.31px;
    padding: 0px 110px;
    margin-top: 120px;
}


.partner-section-container img{
    height: auto;
    width: auto;
}



















/* News Latter Section */
/* News Latter Section */
/* News Latter Section */
.bottom-search-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2189E3;
    padding: 0px 40px;
    max-width: 100%;

    margin-top: 100px;
}



/* BOTTOM SEARCH TEXT */
.bottom-search-section .bottom-search-text{
    display: flex;
    align-items: center;
}






.bottom-search-section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
    padding: 0px 40px;
    justify-self: flex-start;
}


.bottom-search-section h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    justify-self: flex-start;

}



/* BOTTOM SEARCH TEXT */
.bottom-search-section .search-input{
    display: grid;
    align-items: center;
    grid-template-columns: 90% 10%;
    height: 48px !important;
    width: 400px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;

}


.bottom-search-section .search-input input{
    height: 100%;
    outline: none;
    box-shadow: none;
    border: transparent;
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 13px;
}


.bottom-search-section .search-input input::placeholder{
    color: #BBBBBC;
    font-size: 13px;
}


.bottom-search-section .search-input span{
    height: 24px;
    width: 24px;
    cursor: pointer;
}




















/* Footer Section */
/* Footer Section */
/* Footer Section */
.footer-section{
    max-width: 100%;
    /* padding: 40px 140px; */
    padding: 40px 40px;
    background: #F3F3F3;
    margin-top: 100px;
}



/* ALL 'P' DECORATION */
/* ALL 'P' DECORATION */
.footer-section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;

}



/* FOOTER TITLE */
/* FOOTER TITLE */
.footer-section .footer-top-section h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #22262A;
}



/* FOOTER TOP SECTION */
/* FOOTER TOP SECTION */
.footer-section .footer-top-section{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
}



/* SECTION 1 */
/* SECTION 1 */
.footer-section .footer-top-section .section-1{
    width: 296px;
}


/* SECTION 1 IMAGE */
.footer-section .footer-top-section .section-1 img{
    height: auto;
    width: auto;
}











/* FOOTER SECTION 2 */
.footer-section .footer-top-section .section-2{
    width: 198px;
}



.footer-section .footer-top-section .section-2 div{
    display: flex;
    justify-content: space-between;
    width: 61.56px;
}



.footer-section .footer-top-section .section-2 img{
    height: auto;
    width: auto;

}









/* SECTION 3 */
.footer-section .footer-top-section .section-3{
    width: 260px;
}

.footer-section .footer-top-section .section-3 p{ 
    padding-right: 30px;
}












/* FOOTER BOTTOM */
/* FOOTER BOTTOM */
.footer-section .footer-bottom-section{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
}



/* FOTTER LISTS */
/* FOTTER LISTS */
.footer-section .footer-bottom-section ul{
    list-style: none;
    padding: 0;
}



/* FOOTER LIST TITLE */
.footer-section .footer-bottom-section ul h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #22262A;
    margin-bottom: 10px;
}


/* FOOTER LIST TEXT */
.footer-section .footer-bottom-section ul li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #262626;
    max-width: 135px;
    padding-right: 50px;
}












/* bottom Footer */
/* bottom Footer */
/* bottom Footer */
.bottom-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    padding: 0px 150px;
    margin-top: 30px;
    margin-bottom: 20px;

}



/* BOTTOM TEXT */
.bottom-footer-container h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #C1C8CE;
}







.bottom-footer-container .payment-container img{
    height: auto;
    width: auto;
    margin-right: 14px;
}


.bottom-footer-container .payment-container img:nth-last-child(1){
    margin-right: 0px;
}













/* @media screen and (max-width: 800px) {
    .footer-section{
        padding: 40px 140px;
    }
} */











/* universal Styles */
.top-link-section{
    margin-top: 20px;
    padding-left: 60px;
}



.heading-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
}